$dark-gray: #a1a0a0;
$light-gray: #e1e1e1;
$black05: rgba(0,0,0,0.5);
$white: #fff;
$black: #000;
$primary: #3dc9b3;
$secondary: #309383;
$background-gradient: linear-gradient(0deg, #b2b2b2, #767676, #3e3e3e, #949393, #0f0f0f, #5c5c5c, #bbbbbb);